# This file defines the configuration for the optional 
# Database Resources also known as external databases or
# table driven resources.

# See the 'Database Resources' page on the irods web site for more.

# Each input line is a set of 3 or 4 items, space delimited,
# consisting of DBR name, database username, database user password,
# and optional scramble key.  If present, the scramble key is used to
# unscramble the password (see iadmin for scramble/descramble
# commands).

# See the 'Database Resources' page on the irods web site for more.

# Example (if uncommented):
#dbr1 schroeder dbpasswd
